.type-1964 html,
.type-1964 body {
  position: relative;
  height: 100%;
}
.type-1964 body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.type-1964 .swiper-container {
  width: 100%;
  height: 100%;
}
.type-1964 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin-right: 5px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.type-1964 .text-center {
  position: relative;
  background: #fff;
  height: auto;
  overflow: hidden;
  display: block;
}
.type-1964 .text-center img {
  transition: transform .5s ease;
  margin-bottom: -15px;
  width: 100%;
  display: block;
}
.type-1964 .text-center:hover img {
  transform: scale(1.2);
}
.type-1964 .new-1 {
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 0px;
  height: 340px;
  left: 0px;
}
.type-1964 .new-1 .new {
  position: absolute;
  left: 0px;
  background-color: #5fc748;
  width: 50px;
  text-align: center;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-image: initial;
}
.type-1964 .sale-1 {
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 0px;
  height: 340px;
  right: 0px;
}
.type-1964 .sale-1 .sale {
  right: 1px;
  background-color: #757cff;
  position: absolute;
  width: 50px;
  text-align: center;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-image: initial;
}
.type-1964 .selected {
  float: right;
}
.type-1964 .selected .sort {
  font-size: 16px;
  font-weight: 600;
}
.type-1964 .feature {
  font-weight: bold;
  margin-top: 20px;
  font-size: 22px;
}
.type-1964 .aa {
  left: 43px;
}
.type-1964 .ff {
  right: 100px;
  top: 24px;
}
.type-1964 .btn-primary {
  position: absolute;
  border: none;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 76px;
  background: #DE185E;
  right: 28%;
}
.type-1964 .btn-primary:hover {
  background: #337ab7;
}
.type-1964 .swiper-pagination-bullet:hover {
  background: #337ab7;
}
@media only screen and (max-width: 600px) {
  .type-1964 .feature {
    font-weight: bold;
    margin-top: 20px;
    font-size: 10px;
  }
  .type-1964 .selected {
    float: right;
    font-size: 10px;
  }
  .type-1964 .ff {
    right: -6px;
    top: -15px;
  }
  .type-1964 .aa {
    left: -5px;
  }
  .type-1964 .swiper-button-next {
    right: 8px;
    left: 92%;
  }
}
